@import '../../../styles/_colors.scss';
@import '../../../styles/sizes.scss';

.application-navbar {
  background-color: $estimate-tool-navbar-bg-color;

  .application-water-icon {
    color: $estimate-tool-water-icon-fill-color;
    stroke: $estimate-tool-water-icon-outline-color;
  }
}
