//Water Rights Landing Page
@import '../../styles/colors';

.detail-page {
  position: relative;
  background-color: $white;
  overflow-y: auto;
  padding: 15px;

  .title-header {
    padding: 10px;
    border-bottom: 1px solid $bs-gray-600;
  }
  
  .water-rights-card, .site-card {
    .card-header, .water-right-information {
      font-size: 20px;
      color: $white;
      padding: 1rem;
      font-size: 20px;
      color: $white;
      padding: 1rem;
      display: flex;
      align-items: center;
      column-gap: .5rem;
      > svg {
        flex-shrink: 0;
      }
      > span {
        line-height: 1;
      }
      
    }
  }
  .water-right-information{
    max-width: 50vw; // setting water right to half screen size. 
    min-height: 33vh;
    color: $white;
  }
  .water-rights-card{
    
  }

  
  .property-name {
    font-size: 14px;
    margin-top: 18px;
    color: $text-color-grey;
    &:first-of-type{
      margin-top: 0;
    }
  }
  
  .property-value {
    font-size: 16px;
    font-weight: bold;
    color: $text-color-black;
    display: flex;// For aligning correctly
    &:empty{
      color: $text-color-grey;
      &:before{
        content: "Unknown";
      }
    }
    &.is-verbose{
      font-weight: normal;
    }
  }
  
  .custom-tabs > .nav-item{
    .nav-link.active{  
      background-color: $white;
      border-bottom: none;
    }
  }
  
  .map-group{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    
    > .map-container {
      flex-grow: 1;
      min-height: 60vh;
      max-height: 440px;// to make map squarish
      max-width:50vw;///////////////////////// Trying to make map half screen size
      padding: 5px;
    }
    
    .theme-selector-container{//Map layout tabs 
      position: absolute; // Overlayed Layout tabs over map
      transform:rotate(90deg) translateX(120px)translateY(110px);//rotatiny map option layouts and positioning them in right spot
      display: flex;
      justify-content: center;
      .map-themes {
        flex-grow: 1;
      }
    }
  }
  
  
}

