body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.boxdraw {
  background: rgba(56, 135, 190, 0.1);
  border: 2px solid #3887be;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.mapboxgl-popup-content{
  color:black;
}

.jumbotron {
  margin: -15px !important;
  background-color: #404040 !important;
  color: #ffffff;
}

.min-vh-75{
  min-height: 75vh !important;
}

.min-vh-25{
  min-height: 25vh !important;
}

.danger{
  color: red;
}

.nav, .nav-tabs{
  background-color: #404040 !important;
  border-color: #2e2e2e #2e2e2e #2e2e2e !important;
  cursor: pointer;
}

.active{
  background-color: #2e2e2e !important;
  border-color: #2e2e2e #2e2e2e #2e2e2e !important;
  color: #ffffff !important;
}

.tab-content{
  padding:15px;
  background-color: #2e2e2e !important;
}