@import "styles/colors";

a {
  color: $text-color-light;
}

.scroll-vertical {
  overflow-y: auto;
  overflow-x: hidden;
}

.accordion {
  .accordion-body {
    background-color: #FAFAFA;
  }

  .accordion-button,
  .accordion-button:not(.collapsed),
  .accordion-button:focus {
    background-color: #FAFAFA;
    color: black;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: none;
  }

  .accordion-item {
    border: none;
  }
}
