@import "../../styles/colors";

.home-page {
  position: relative;
  height: 100%;
}

.sign-in-span {
  padding: "12px";
  height: "100%";
  align-items: "center"
}

.sign-in-button {
  padding: "0px";
  height: "36px"
}
#mapboxPopupId{
  height: 100%;


}