@import '../../styles/colors.scss';
@import '../../styles/custom.scss';

.table-view-toggle-btn {
  position: sticky !important;
  display: flex !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  background-color: $bs-gray-900;
  color: $text-color-light;
  z-index: 3;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-items: center;

  &.toggle-on {
    bottom: 65%;
    transition: bottom .5s ease-in-out;
  }

  &.toggle-off {
    bottom: 0;
    transition: bottom .5s ease-in-out;
  }

  > svg{
    height: 1.5em;
  }
}
.analytics-and-table-content{
  position: absolute !important;
  display: block !important;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: $white;
  z-index: 4;
  transition: top .5s ease-in-out;
  overflow: auto;

  &.toggle-on {
    top: 35%;
  }

  &.toggle-off {
    top: 100%;
  }
}

.table {
  border-collapse: separate !important;
  border-spacing: 0;
  margin-bottom: 0 !important;

  & thead tr {
    position: sticky;
    top: calc(-1rem - 1px);
    background-color: $white;
    border-bottom: 1px solid $black; 
  }

  & tbody tr:last-child td{
    border-bottom: 0px none;
  }
}
