$primary-color: #007bff;
$white: #ffffff;

$text-color-light: #ffffff;
$text-color-dark: #000000;
$text-color-black: #000000;
$text-color-grey: #676767;

$border-color: #ced4da;

$bs-gray-100: #fafafa;
$bs-gray-200: #e9ecef;
$bs-gray-600: #7a7e83;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;

$card-header-color-blue: #004188;
$card-header-color-red: #880000;

$app-review-status-approved: #00c342;
$app-review-status-rejected: #dc3545;
$app-review-status-inReview: #ffc700;

$estimate-tool-navbar-bg-color: #e1f3fc;
$estimate-tool-water-icon-fill-color: #b4e3f9;
$estimate-tool-water-icon-outline-color: #37a4dc;
$estimate-tool-estimate-text-color: #00b23d;
