$primary-color: #007bff;
$white: #ffffff;

$text-color-light: #ffffff;
$text-color-dark: #000000;

$border-color: #ced4da;

$bs-gray-100: #fafafa;
$bs-gray-200: #e9ecef;
$bs-gray-600: #7a7e83;
$bs-gray-800: #343a40;
$bs-gray-900: #212529;
