@import "_colors.scss";

// Override default variables before the import
$body-bg: #e4e4e4;
$navbar-light-color: $primary-color;
$nav-link-font-weight: 600;

$primary: $primary-color;

// Determines the text color for a given background. Default is 4.5
$min-contrast-ratio: 3.9;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
