@import "_colors.scss";

.navbar {
  color: $text-color-light;
  background-color: $bs-gray-800;

  .navbar-nav .active-tab.nav-link,
  .navbar-nav .active-tab.nav-link:focus {
    color: $text-color-black;
    border-bottom: 2px solid $text-color-dark;
  }

  .navbar-nav .nav-link img {
    width: 26px;
    height: 26px;
    margin-top: -5px;
    margin-right: 4px;
    margin-left: 2px;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
    color: $text-color-light;
    background-color: $bs-gray-100;
    width: 100%;
    border: 1px solid $border-color;
    border-top: 0px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }

  &.second-nav {
    box-shadow: 0px 3px 6px #00000029;
    z-index: 100;
  }
}

.ham-menu a {
  color: $text-color-black;
  margin-bottom: 10px;

  &:hover {
    text-decoration: underline;
  }

  &:hover,
  &:active,
  &:focus,
  &:visited {
    color: $text-color-black;
  }
}
