// overriding form check label padding top, if not the switch will look like a staircase
.form-check-label {
  padding-top: 4px !important;
}

.onoffswitch {
  margin-left: 25px;
  position: relative;
  width: 75px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: solid #007bff;
  border-radius: 5px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 26px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #007bff;
  background-clip: padding-box;
}

.onoffswitch-inner:before {
  content: "On";
  padding-left: 10px;
  background-color: #007bff;
  color: white;
}

.onoffswitch-inner:after {
  content: "Off";
  padding-right: 10px;
  background-color: #007bff;
  color: white;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 15px;
  margin: 2px;
  border-radius: 5px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
}