@import './colors.scss';
@import './custom.scss';

.analytics-and-table.offcanvas {
  position: relative !important;
  transition: none;
  display: block;

  &.offcanvas-bottom {
    bottom: $offcanvas-vertical-height + 3vh;
    transition: none;
  }
}

.table-view-toggle-btn {
  position: relative !important;
  display: block !important;
  bottom: 3vh;
  margin: 0 auto;
  background-color: $bs-gray-900;
  color: $text-color-light;
  z-index: $zindex-offcanvas;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
  transition: none;

  &.toggle-on {
    transform: translateY(-1*($offcanvas-vertical-height+3vh));    
    transition: none;
    bottom: auto;
  }
}