@import './colors.scss';

.buttonTest {
  position: absolute;
  top: -34px;
  right: 42%;
  margin: 0px;
  background-color: $bs-gray-900;
  color: $text-color-light;
  // Just behind the geocode search results
  z-index: 2;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}