@import '../../../styles/colors';

.application-status-icon-submitted {
  color: $primary-color;
}

.application-status-icon-approved {
  color: $app-review-status-approved;
}

.application-status-icon-inReview {
  color: $app-review-status-inReview;
}

.application-status-icon-denied {
  color: $app-review-status-denied;
}

.application-status-icon-unknown {
  color: $text-color-grey;
}

.header-column-text {
  font-weight: 700;
}