@import '../../../styles/colors';

.detail-page {
  .water-rights-card {
    .card-header {
      background-color: $card-header-color-red;
    }
  }

  .estimate-consumptive-use-btn {
    &:disabled {
      background-color: $bs-gray-600;
      border-color: $bs-gray-800;
    }
  }
}
