name: Deploy Staging

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy-infrastructure:
    uses: ./.github/workflows/deploy-infrastructure.yml
    with:
      azure-resource-group: WestDAAT_Staging
      azure-bicep-params-file: azuredeploy.staging.json
    secrets:
      azure-cli-credentials: ${{ secrets.AZURE_AZ_CLI_CREDENTIALS_STAGING }}
  deploy-backend:
    uses: ./.github/workflows/deploy-backend.yml
    needs: deploy-infrastructure
    with:
      azure-resource-group: WestDAAT_Staging
      azure-functionapp-name: westdaat-staging
      azure-apim-name: westdaatstaging
      azure-api-name: westdaat-fn-api-staging
      azure-api-url: https://westdaat-staging.azurewebsites.net/api
      azure-auth-tenant-name: westdaatstaging
      azure-auth-audience: a4db62cd-d2ef-425e-8c69-37f4349f925e # App Registration ID
      azure-cors-domain: https://westdaatstaging.westernstateswater.org
      database-server-name: westdaat-staging
      database-connection-string: Server=tcp:westdaat-staging.database.windows.net,1433;Initial Catalog=WestDAAT;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Authentication="Active Directory Default";
    secrets:
      azure-cli-credentials: ${{ secrets.AZURE_AZ_CLI_CREDENTIALS_STAGING }}
      azure-function-publish-profile: ${{ secrets.AZURE_FUNCTION_PUBLISH_PROFILE_STAGING }}
  deploy-frontend:
    uses: ./.github/workflows/deploy-frontend.yml
    needs: deploy-backend
    with:
      azure-resource-group: WestDAAT_Staging
      azure-storage-account-name: westdaatstaging
      azure-cdn-endpoint-name: westdaatstaging
      azure-cdn-profile-name: westdaatstaging
      react-app-auth-redirect-url: https://westdaatstaging.westernstateswater.org
      react-app-webapi-url: https://westdaatstaging.azure-api.net/api/
      react-app-auth-client-id: a4db62cd-d2ef-425e-8c69-37f4349f925e
      react-app-auth-authority: https://westdaatstaging.b2clogin.com/westdaatstaging.onmicrosoft.com/b2c_1_signupsignin
      react-app-auth-known-authority: https://westdaatstaging.b2clogin.com/westdaatstaging.onmicrosoft.com
      react-app-ga-id: G-KFL0TGM4B8
      react-app-feature-conservation-estimation-tool: disabled
      react-app-water-rights-vector-tile-url: https://api.maptiler.com/tiles/441a16bb-0a9e-4e71-8c84-da267d516a09/tiles.json?key=8QhUrRdYizgLYetLDiy7
      react-app-overlay-vector-tile-url: https://api.maptiler.com/tiles/2470c0d3-dee8-445d-95be-a48dd617d038/tiles.json?key=8QhUrRdYizgLYetLDiy7
      react-app-time-series-vector-tile-url: https://api.maptiler.com/tiles/d3e78141-41c6-4456-ab91-7117b3ded924/tiles.json?key=8QhUrRdYizgLYetLDiy7
    secrets:
      azure-cli-credentials: ${{ secrets.AZURE_AZ_CLI_CREDENTIALS_STAGING }}
